@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, cursive;
}

header {
    background-color: #837bfa;
    padding: 38px;
    margin-bottom: 56px;
}
 
body {
    background-color: #eedcff;
}
 
.container {
    width: 480px;
    background-color: #b9acfd;
    margin-top: 50px;
    margin: auto;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px 2px #e0c0c7;
}
 
#num {
    width: 64px;
    height: 30px;
    padding: 8px;
    margin: 0px 8px 8px 8px;
}
 
button {
    margin: 12px 0; 
    padding: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #d3c4fe;
}

#resultado {
    width: 64px;
    height: 30px;
    font-size: 18px;
    padding: 8px;
    margin: 0px 8px 8px 2px;
}

footer {
    padding: 38px;
    margin-top: 56px;
    background-color: #837bfa;
}