@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway' cursive;
}

header {
    background-color: #8ba6ac;
    padding: 38px;
    margin-bottom: 56px;
    text-align: center;
}
 
body {
    background-color: #f8f8ec;
}
 
.container {
    width: 480px;
    background-color: #d7d7b8;
    margin-top: 50px;
    margin: auto;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px 2px #e5e6c9;
}
 
#celsius {
    width: 98px;
    height: 30px;
    padding: 8px;
    margin: 15px;
}
 
#botao {
    padding: 5px;
    margin: 15px; 
    cursor: pointer;
    letter-spacing: 1px;
}

#botao:hover {
    background-color: #8ba6ac; 
    color: white;
}

#resultado {
    width: 98px;
    height: 30px;
    padding: 8px;
    margin: 15px;
}

footer {
    padding: 38px;
    margin-top: 56px;
    background-color: #8ba6ac;
}